.glass {
  position: relative;
  background: white;
  min-height: 80vh;
  min-width: 60%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(7px);
}